/** @format */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
html {
  font-size: 62.5%;
}

/* nav */
header {
  display: flex;
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 2rem;
  font-size: 1.6rem;
}
.header a {
  text-decoration: none;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
  margin-right: 10px;
}
nav a {
  font-weight: 600;
  margin-right: 25px;
}
nav a:hover {
  padding: 5px 0;
  background-color: gray;
  transition: 0.5s;
  border-radius: 8px;
}
@media (max-width: 695px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
    margin-left: 4rem;
  }
}
/* nav */

/* main */
.main {
  margin: 0;
}
.container1 {
  display: inline-flex;
}
.Descripcion-iphone13 {
  padding: 9.6rem;
}
.iphone13-img {
  margin: 15.3rem 2rem;
  height: 40rem;
}

.container2 {
  display: inline-flex;
}
.Descripcion-iphone13pro {
  padding: 9.6rem;
  order: 2;
}
.iphone13-pro-img {
  margin: 22.3rem 2rem;
  height: 40rem;
  order: 1;
}

.container3 {
  display: inline-flex;
}
.Descripcion-iphone13promax {
  padding: 9.6rem;
}
.iphone13promax-img {
  margin: 12.3rem 2rem;
  height: 50rem;
}

.title-heading {
  font-size: 6rem;
  line-height: 1.07143;
  letter-spacing: -0.005rem;
  color: white;
}
.title-sub-heading {
  font-size: 2.45rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
  color: white;
}
.title-price {
  font-size: 1.9rem;
  color: rgb(202, 202, 202);
  margin-top: 1.2rem;
}
.cta {
  margin-top: 1.2rem;
}
.cta-link {
  color: #2b9af5;
  font-size: 1.7rem;
  display: inline-block;
}
.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}
.cta-link:hover {
  border-bottom: 1px solid;
}
/* degradado-iPhone-13 */
.degradado-iPhone-13 {
  background: -moz-linear-gradient(-45deg, #ce0000 0%, #0011c5 100%);
  background: -webkit-linear-gradient(-45deg, #ce0000 0%, #0011c5 100%);
  background: linear-gradient(135deg, #ce0000 0%, #0011c5 100%);
  height: 55.7rem;
  border: 2px solid white;
}
/* degradado-iPhone-13 */

/* degradado-iPhone-13-pro */
.degradado-iPhone-13-pro {
  background: -moz-linear-gradient(-45deg, #ffd900 0%, #32bc39 100%);
  background: -webkit-linear-gradient(-45deg, #ffd900 0%, #32bc39 100%);
  background: linear-gradient(135deg, #ffd900 0%, #32bc39 100%);
  height: 62.7rem;
  border: 2px solid white;
}
/* degradado-iPhone-13-pro */

/* degradado-iPhone-13-promax */
.degradado-iPhone-13-promax {
  background: -moz-linear-gradient(-45deg, #b300ce 0%, #c58000 100%);
  background: -webkit-linear-gradient(-45deg, #b300ce 0%, #c58000 100%);
  background: linear-gradient(135deg, #b300ce 0%, #c58000 100%);
  height: 62.7rem;
  border: 2px solid white;
}
/* degradado-iPhone-13-promax */

/* boton whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
.my-float {
  margin-top: 16px;
}
/* boton whatsapp */

/* main */

/* footer */
/* .footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 40px 0;
  font-weight: 400;
  background-color: rgb(112, 102, 102);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
}
.footer ul li:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: black;
} */
/* footer */
